.Swiper :global {
	width: 100%;
	height: 100%;

	max-width: 49%;
	height: 100%;

	.swiper-slide {
		text-align: center;
		font-size: 18px;

		/* Center slide text vertically */
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.swiper-slide img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.swiper {
		width: 100%;
		height: 300px;
		margin-left: auto;
		margin-right: auto;
	}

	.swiper-slide {
		background-size: cover;
		background-position: center;
		padding: 3px;
	}

	.mySwiper2 {
		height: 535px;
		width: 100%;

		.swiper-slide {
			cursor: grab;
		}
		@apply maxLg:h-[300px];
	}

	.mySwiper {
		height: 143px;
		box-sizing: border-box;
		margin-top: 30px;

		@apply maxLg:h-[67px] maxLg:mt-5;
	}

	.mySwiper .swiper-slide {
		width: 25%;
		height: 100%;
		opacity: 0.7;
		cursor: pointer;

		@apply maxMd:max-w-[89px];
	}

	.mySwiper .swiper-slide-thumb-active {
		border-radius: 10px;
		border: solid 1px #40a3d2;
		opacity: 1;
	}

	.swiper-slide img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	@apply maxMd:max-w-none;
}
