.content {

    h1 {
        font-size: 46px;
        line-height: 53px;
        padding-bottom: 40px;

        @apply maxMd:text-[28px] maxMd:leading-[32px] maxMd:pb-5
    }


    h1 {
        + p:has(strong) {
            padding-top: 0px;
        } 
    }

    & > p, ul {
        padding-bottom: 10px;

        + p:has(strong) {
            padding-top: 15px;
        } 
    }

    & > p {
        @apply maxMd:text-[13px] maxMd:leading-[17px];

        &:has(strong) {
            display: block;
            padding-bottom: 10px;
            padding-top: 40px;
            @apply text-branded 
        }
    }

    & > ul, ol {
        padding-top: 20px;
        padding-left: 50px;
        @apply space-y-[10px] maxMd:space-y-[5px] maxMd:text-[13px] maxMd:pl-3 maxMd:py-2;

        & > li {
            padding-left: 15px;
            @apply maxMd:pl-2;
        }

        + p:not(:has(strong)) {
            padding-top: 20px;
        }
    }

    & > ol {
        & > li {
            list-style-type: decimal;
        }
    }
    & > ul {
        & > li {
            &::marker {
                content: url('/listBullet.svg');
            }
        }
    }

    & > p:last-child {
        padding-bottom: 0;
    }
}