@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./styles/fonts.scss";

body {
  @apply font-noto text-dark

}

h2 {
  font-size: 66px;
  line-height: 77px;
}

h1, h2, h3 {
  @apply font-tenor
}

input, textarea {
  outline: none;
}