.content {

    h1, h2 {
        font-size: 46px;
        line-height: 53px;
        padding-bottom: 40px;
    }

    h2 {
        padding-top: 40px;
    }

    h1, h2 {
        + p:has(strong) {
            padding-top: 0px;
        } 
    }

    & > p {
        &:has(strong) {
            display: block;
            padding-bottom: 20px;
            padding-top: 40px;
            @apply text-branded   
        }
    }

    & > p {
        &:not(:has(strong)) {
            padding-left: 40px;

        }
    }

    & > ul, ol {
        padding-left: 50px;
        @apply space-y-[15px];

        & > li {
            padding-left: 15px;
        }

        + p:not(:has(strong)) {
            padding-top: 20px;
        }
    }

    & > ol {
        & > li {
            list-style-type: decimal;
        }
    }
    & > ul {
        & > li {
            &::marker {
                content: url('/listBullet.svg');
            }
        }
    }

    & > p:nth-last-of-type(-n+8) {
        padding-left: 0;
        padding-bottom: 15px;
    }

    & > p:last-child {
        padding-bottom: 0;
    }
}